---
export interface Props {
	posName: string;
	href: string;
}

const { href, posName } = Astro.props;
---

<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title m-1">Para acessar a página preencha os dados abaixo:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="modal-form" data-redirect={href} data-posname={posName}>
				<div class="col-12 col-md-6 mb-3">
				  <label for="exampleFormControlInput1" class="form-label">Nome: <span class="obrigatorio">*</span></label>
				  <input name="Nome" type="text" class="form-control" id="exampleFormControlInput1" required>
				</div>
				<div class="col-12 col-md-6 mb-3">
				  <label for="exampleFormControlInput2" class="form-label">E-mail: <span class="obrigatorio">*</span></label> 
				  <input name="Email" type="email" class="form-control" id="exampleFormControlInput2" required>
				</div>
				<div class="col-12 col-md-6 mb-3">
				  <label for="exampleFormControlInput3" class="form-label">Telefone: <span class="obrigatorio">*</span></label>
				  <input name="Telefone" type="tel" class="form-control" id="exampleFormControlInput3" aria-describedby="telHelpBlock" required>
                  <div id="TelHelpBlock" class="form-text" style="font-weight: 600;">
                    Ex: 88999999999
                  </div>
                </div>
                <div class="form-check mb-5">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault" style="line-height: 1.1em;">
                      Concordo em receber ofertas e novidades do Núcleo Avançado de Desenvolvimento.
                    </label>
                </div>
				<button type="submit" class="btn btn-form py-2 px-3">
					<span id="button-text" role="status">Enviar</span>
					<span id="load-spinner" class="spinner-border spinner-border-sm visually-hidden" aria-hidden="true"></span>
  					<span id="load-text" class="visually-hidden" role="status">Enviando...</span>
				</button>
			  </form>
        </div>
      </div>
    </div>
  </div>


<script>

	function toggleLoad(){
		document.getElementById("load-spinner").classList.toggle("visually-hidden");
		document.getElementById("load-text").classList.toggle("visually-hidden");
		document.getElementById("button-text").classList.toggle("visually-hidden");
	}

	var form = document.getElementById("modal-form");
	form.addEventListener("submit", ajaxpost);

	function ajaxpost(event) {
		event.preventDefault();
		toggleLoad();

		// (A) GET FORM DATA
		var data = new FormData(form);
		const agreed = (document.getElementById("flexCheckDefault").checked) ? "Sim" : "Não";
		data.append('Concordo', agreed);
		data.append('From', form.dataset.posname);
		
		// (B) AJAX REQUEST
		// (B1) POST DATA TO SERVER, RETURN RESPONSE AS TEXT
		fetch("https://script.google.com/macros/s/AKfycbzEFxl18QQdOpDJ5vdwEbBT0qXkjQhL50mfa1jDUWYdJNSS3uiB1G_4RrXyGMYwHBt7/exec", 
		{ method:"POST", body:data })
		.then(res => res.json())
		.then(response => {
			
			toggleLoad();

			if (response.result == "success") { 

				window.location.href = form.dataset.redirect;
			
			}
			else { alert("Algo deu errado :( \nPor favor, recarregue a página e tente novamente."); }

		})
		
		// (B3) OPTIONAL - HANDLE FETCH ERROR
		.catch(err => console.error(err));

		// (C) PREVENT FORM SUBMIT
		return false;
	}
</script>

<style>
	.modal-title{
        color: #75061b;
        text-align: center;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.2em;
        letter-spacing: 0;
    }

    .form-label{
		font-size: 15px;
		font-weight: 600;
	}

	.obrigatorio{
		color: red;
	}

	.btn-form{
		color: #fff;
		background-color: #333;
	}

	.btn-form:focus, .btn-form:hover, .btn-form:active {
		color: #fff !important;
		background-color: #555 !important;
	}

	@media (min-width: 768px) {
		.card{
			margin-right: 0 !important;
			margin-left: auto !important;
		}
	}
</style>
